@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsla(216, 12%, 54%, 0.4);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --font-primary: 'Overpass', sans-serif;
}

body {
  font-family: var(--font-primary);
  font-size: 15px;
  background-color: var(--Very-Dark-Blue);
  color: var(--White);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {  
  background-color: var(--Dark-Blue);
  width: calc(375px - 2rem);
  border-radius: 0.8rem;
  padding: 1.8rem 1.4rem;
  margin-bottom: 1rem;
}

.card__image {
  background-color: var(--Medium-Grey); 
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.card__image.--thank-you {
  background-color: transparent;
  width: 100%;
  height: auto;
}

.raiting-selected {
  background-color: var(--Medium-Grey);  
  padding: 0.5rem 0;
  width: 12rem;
  margin: 2rem auto 2rem auto;
  text-align: center;
  color: var(--Orange);
  border-radius: 2rem; 
}

.card__title {
  margin: 1rem 0;
}

.card__raiting {
  border: none;
  display: flex;
  justify-content: space-between;  
}

.card__raiting__description {
  color: var(--Light-Grey);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.card__raiting__label {
  background-color: var(--Medium-Grey); 
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all linear 0.1s;
}

.card__raiting__input:checked + .card__raiting__label {
  background-color: var(--Orange);
}

.card__raiting__label:hover {
  background-color: var(--Light-Grey);
}

.card_raiting_item label {
  transform: translateY(1px);
}

.btn-submit {
  background-color: var(--Orange);
  border: none;
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  margin-top: 2rem;
  color: var(--White);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all linear 0.1s;
}

.btn-submit:hover {
  background-color: var(--White);
  color: var(--Very-Dark-Blue)
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--Light-Grey)
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

